<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.zjlzjl.servicearticle.mapper.ArticleDetailMapper">
    <update id="updateArticleDetail" parameterType="fun.zjlzjl.servicearticle.entity.ArticleDetail">
        UPDATE article_detail ad SET
        ad.mdContent=#{mdContent},ad.htmlContent=#{htmlContent}
        WHERE ad.articleId=#{articleId}
    </update>
</mapper>
